extends layout

block content
  div.container
    aside.col.a.cohorts
      h2 Cohorts
      ul#cohorts
      script(src="/js/fetch-cohorts.js")
    section.col.b.main
      nav.tabs
        span.tab.one
          |Schedule
        span.tab.two
          a(href="/courses") Courses
        span.tab.three
          |Instructors
        span.tab.four
          |Full
      section.cbox.one
        include tabs/one
      section.cbox.two
        include tabs/two
      section.cbox.three
        include tabs/three
      section.cbox.four
        p Hi nowhere
    aside.col.c.data
      h2 Data
      div#quarter
      div#courselist
      script.
        let x= (location.pathname).split("/").filter(function(p){return p != ""});
        if(x[0] == "cohorts"){
          
          fetch('http://localhost:3000/cohorts/' + x[1], {method: 'POST'}).then( (res)=>{
            return res.json();
          } ).then( (json) => {
            var q = document.querySelector("#quarter");
            var b = document.createElement("b");
            var txt = document.createTextNode("Current Quarter " + json.q);
            b.appendChild(txt);
            q.appendChild(b);
            q.appendChild( document.createElement("br") );
            b = document.createElement("b");
            txt = document.createTextNode("Next Quarter " + Number(json.q + 1) );
            b.appendChild(txt);
            q.appendChild(b);
            console.log(json);

            var url = 'http://localhost:3000/cohorts/' + x[1] + '/courses';
            if( json.q > 6 ){
              
            }
            var data = {q: json.q, CurriculumID: Number(json.CurriculumID) + json.q - 4};

            fetch(url, {
              method: 'PUT',
              body: JSON.stringify(data),
              headers: {
                'Accept' : 'application/json',
                'Content-Type' : 'application/json'
              }
            }).then((res)=>{
              return res.json();
            }).then( (data) => {
              console.log(data);
              var c = document.querySelector("#courselist");
              var ul = document.createElement("ul");
              var lis = [
                document.createElement("li"),
                document.createElement("li"),
                document.createElement("li"),
                document.createElement("li")
              ];

              for(i=0;i<data.length;i++){
                var txt = document.createTextNode(data[i].CourseDept + data[i].CourseId) ;
                lis[i].appendChild(txt);

                ul.appendChild(lis[i]);
              }
              
              c.appendChild(ul);
              console.log(c);
            } );
          } );
          

        }