extends layout

block content
  div.container
    aside.col.a.cohorts
      h2 Cohorts
      ul
      for cohort, i in cohorts
        li
          a(href=`/cohorts/${cohort.CohortStartDate}`)= `${cohort.CohortStartDate} - ${cohort.CohortStudentCount} students`
    section.col.b.main
      nav.tabs
        span.tab.one
          |Schedule
        span.tab.two
          a(href="/courses") Courses
        span.tab.three
          |Instructors
        span.tab.four
          |Full
      section.cbox.one
        include tabs/one
      section.cbox.two
        include tabs/two
      section.cbox.three
        p Hi somewhere
      section.cbox.four
        p Hi nowhere
    aside.col.c.data
      h2 Data