extends layout

block content
  div.container
    aside.col.a.cohorts
      h2 Cohorts
      ul#cohorts
      script(src="/js/fetch-cohorts.js")
    section.col.b.main
      nav.tabs
        span.tab.one
          |Schedule
        span.tab.two
          a(href="/courses") Courses
        span.tab.three
          |Instructors
        span.tab.four
          |Full
      section.cbox.one
        include tabs/one
      section.cbox.two
        include tabs/two
      section.cbox.three
        include tabs/three
      section.cbox.four
        p Hi nowhere
    aside.col.c.data
      h2 Data