doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src="/js/jquery-3.2.1.min.js")
    script(src="/js/tabs.js")
    script(src="/js/comp.js")
  body
    block content
