doctype html
html
  head
    title= title
    script(src="/js/jquery-3.3.1.min.js")
    script(src="/js/g.js")
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src="/js/tabs.js")
    script(src="/js/comp.js")
    script(src="//ajax.googleapis.com/ajax/libs/jqueryui/1.11.2/jquery-ui.min.js")
    
    
    
  body
    block content
    
