body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}
a {
  color: #00B7FF;
}
/*********************Tabs**********************/
.tabs{
  display: inline-flex;
  flex-direction: row;
  width: 100%;
  border-bottom: 1px solid black;
  justify-content: flex-start;
}
.tab{
  border: 1px solid black;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  padding: 10px;
  margin: 0px 3px;
  cursor: pointer;
}
.tab.active{
  background: black;
  color: white;
}
.container{
  display: grid;
  grid-template-columns: 27% 50% 23%;
  grid-gap: 10px;
  grid-auto-rows: 100%;
}
/*********************Tabs**********************/
.col{
  border: 1px solid black;
  padding: 30px;
}
/*LEFT*/
.col.a{ grid-column: 1;grid-row: 1;border-right: 1px solid black}
/*MIDDLE*/
.col.b{ grid-column: 2;grid-row: 1;}
/*RIGHT*/
.col.c{ grid-column: 3;grid-row: 1;}

.cohort{
  display: grid;
  grid-template-columns: 16vw 0.5vw;
  grid-gap: 10px;
  grid-auto-rows: 100%;
}

.cohort > .left{
  grid-column: 1;
}
.cohort > .right{
  grid-column: 3;
}